h1{
    text-align: center;
    color: #197e00;
    font-size: 20px;

}
nav{
    background-color: #197e00;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}